<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello</h1>
    <h2>This is the home page</h2>
    <h3> <%= "apna".toUpperCase() %></h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis repudiandae error ullam vel libero, excepturi, enim iste quasi sint accusantium omnis! Quisquam pariatur illum iste corporis maiores, dolores odio.
        Corrupti debitis labore ut ea voluptatem nihil nisi modi reiciendis, quasi exercitationem ab tempore sapiente? Architecto, at quidem asperiores sint nemo quam doloribus? Veniam harum necessitatibus consectetur delectus provident quibusdam.
        Explicabo soluta repellendus exercitationem sit nostrum, eos magnam in doloremque illum modi porro voluptatum quis nihil ipsam tenetur distinctio a sunt deleniti esse quia iste maxime tempora qui culpa. Quam.
    </p>
    <button>click me</button>
</body>
</html>